@import url(http://fonts.googleapis.com/css?family=Source+Sans+Pro);
body {
	  background:#2d3b36 url(../imgs/cloud.jpg) no-repeat center center fixed;
	  background-color:rgba(0,0,0,0.1);
  	-webkit-background-size: cover;
	  -moz-background-size: cover;
	  -o-background-size: cover;
	  background-size: cover;
}
#info label{
 color:#CDC8B1;
}
#info td{
padding:0px 47px;
}
#info #gender{
 padding:0px 20px 0px 91px;
 color:#CDC8B1;
}
td#buttons{
padding:10px 200px 10px 50px;
position:relative;
}
.biggest {
	margin-top:30px;
    margin-left:auto;
    margin-right:auto;
    margin-bottom:20px;
    width: 565px;
    height: 700px;
    padding:30px 10px;
    border: 1px solid rgba(0,0,0,.2);
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    -moz-background-clip: padding;
    -webkit-background-clip: padding-box;
    background-clip: padding-box;
    background: rgba(0, 0, 0, 0.5); 
    -moz-box-shadow: 0 0 13px 3px rgba(0,0,0,.5);
    -webkit-box-shadow: 0 0 13px 3px rgba(0,0,0,.5);
    box-shadow: 0 0 13px 3px ;
    overflow: hidden; 
}

input#username,input#password,input#useremail,input#createtime,input#address,input#phone{
    width: 276px;
    height: 40px;
    border: 1px solid rgba(255,255,255,.4);
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    border-radius: 4px;
    -moz-background-clip: padding;
    -webkit-background-clip: padding-box;
    background-clip: padding-box; 
    display:block;
    font-family: 'Source Sans Pro', sans-serif;
    font-size:18px;
    color:#fff;
    padding-left:20px;
    padding-right:20px;
    margin-bottom:10px;
    background: rgba(255, 255, 255, 0.4)  no-repeat scroll 16px 16px; 
    padding-left:45px;
}

input[type=submit] {
    cursor:pointer;
}

::-webkit-input-placeholder {
	  color: #fff;
}

:-moz-placeholder{ 
    color: #fff; 
}

::-moz-placeholder {
    color: #fff;
}

:-ms-input-placeholder {  
	  color: #fff; 
}

.btn {
	  width:70px;
	  height: 44px;
	  -moz-border-radius: 4px;
	  -webkit-border-radius: 4px;
	  border-radius: 4px;
	margin:30px 94px; 
    border: 1px solid #CFCFCF;
    background: #CDC8B1;
    background: -webkit-gradient(linear, left top, left bottom, from(#6da5a3), to(#416b68));
    background: -webkit-linear-gradient(top, #6da5a3, #416b68);
    background: -moz-linear-gradient(top, #6da5a3, #416b68);
    background: -ms-linear-gradient(top, #6da5a3, #416b68);
    background: -o-linear-gradient(top, #6da5a3, #416b68);
    background-image: -ms-linear-gradient(top, #6da5a3 0%, #416b68 100%);
    position:absolute;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    border-radius: 6px;
    -webkit-box-shadow: rgba(255,255,255,0.1) 0 1px 0, inset rgba(255,255,255,0.7) 0 1px 0;
    -moz-box-shadow: rgba(255,255,255,0.1) 0 1px 0, inset rgba(255,255,255,0.7) 0 1px 0;
    box-shadow: 2px 2px 5px #888888;
    text-shadow: #333333 0 1px 0;
    color: #e1e1e1;
}

.btn:hover{
background: #CDCDB4;
}

.btn:active{
background: #CDC8B1;
border: 1px solid #fff;
color:#fff;
}